body {
    background-image: url(https://www.wallpaperboulevard.com/Images/product/light-pink-and-white-diagonal-stripe-pr-shqh.jpg) ;
    background: no-repeat top/100% url("https://www.wallpaperboulevard.com/Images/product/light-pink-and-white-diagonal-stripe-pr-shqh.jpg");
    background-size: cover;
}

.card {
width: 30rem;
height: 30rem;
border: 0.5rem solid white;
background-color: pink;
border-radius: 9px;
display: flex;
margin: 2rem;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
text-align: center;
box-shadow: 10px 5px 5px rgb(255, 181, 239);
transition: 0.2s;

}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagesize {
    width: 70%;
    height: 80%;
    margin: auto;
    transition: 10s;
}
.imagesize1 {
    width: 70%;
    height: 80%;
    margin: auto;
    transition: 2s;
}
.imagesize2 {
    width: 70%;
    height: 80%;
    margin: auto;
    transition: 0.5s
}
.imagesize3 {
    width: 70%;
    height: 80%;
    margin: auto;
    transition: 5s;
}
.imagesize4 {
    width: 70%;
    height: 80%;
    margin: auto;
    transition: 4s;
}
h2 {
    text-align: center;
    margin-bottom: auto;
    font: 1.2rem "Impact";
    color: white;
    font-size: 2.5rem;
}

h1 {
    text-align: center;
    margin-bottom: auto;
    font: 3rem "Impact";
    color: rgb(101, 188, 223);
    font-size: 5rem;
}

.card:hover {
    transform: scale(1) translateY(-10px);
    transition: 0.5s;
}

.imagesize:hover {
    transition: 60s;
    transform: rotate(50turn)
}
.imagesize1:hover {
    transition: 10s;
    transform: scale(2) rotate(0.5turn);
}
.imagesize2:hover {
    transition: 2s;
    transform: translateY(-100px)
}
.imagesize3:hover {
    transition: 2s;
    filter: grayscale(0.8);
    transform: scale(2);
}

.imagesize4:hover {
    transition: 4s;
    filter:invert(50%);
    transform: scale(2, 0.5);
}